body, html {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.logo__text {
    font-weight: 600;
}

.title__text {
    margin-top: 150px;
    color: #fff;
    text-align: right;
    line-height: 50px;
    font-weight: 800;
    text-shadow: 2px 2px 4px black;
}

.title__text__undertext {
    font-weight: 300;
    font-size: 30px;
    font-style: italic;
}

.header__link {
    display: inline-block;
    color: #022a4d;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
}

.header__link:after {
    background-color: #022a4d;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.header__link:hover:after,
.header__link:focus:after {
    width: 100%;
}

.logo {
    margin: 0 auto;
    max-width: 40px;
    margin-right: 10px;
}

.bg-nav {
    background: white;
}

.header__nav {
    margin-left: 3.5rem;
    margin-right: .5rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
}

.header__nav:hover {
    text-decoration: none;
    transform: translateY(-3px);
    transition: all 0.5s ease;
}

.navbar {
    border-bottom: 1px solid #d6d6d6;
    -webkit-box-shadow: 0px 2px 43px 10px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 2px 43px 10px rgba(0,0,0,0.17);
    box-shadow: 0px 2px 43px 10px rgba(0,0,0,0.17);
}

.main {
    background: url(../images/bg-main9.jpg) no-repeat center #fff;
    background-position: center center;
    min-height: 400px;
    background-size: cover;
}

.footer {
    background: #022a4d;
    text-align: left;
    min-width: 200px;
    color: #fff;
}

.footer__cont {
    font-size: 16px;
    text-decoration: underline;
    line-height: 40px;
}

.footer__phones {
    font-size: 13px;
}

.footer__cont__col {
    line-height: 10px;
    margin: 0;
    padding: 20px;
}

.socials {
    margin-right: 10px;
    font-size: 25px;
}

.socials:hover {
    color: #fff;
    transform: translateY(-2px);
    transition: all 0.5s ease;
}

.copyright {
    font-size: 15px;
    text-align: center;
}
